<div class="row px-2 py-1 align-items-center justify-content-between">
  <div class="col-3">
    <div class="row">
      <div class="col-auto px-0 ms-2">
        <div class="window-btn close"></div>
      </div>
      <div class="col-auto px-0 ms-2">
        <div class="window-btn minimize"></div>
      </div>
      <div class="col-auto px-0 ms-2">
        <div class="window-btn expand"></div>
      </div>
    </div>
  </div>
  <div class="col title text-center">{{title}}</div>
  <div class="col-3"></div>
</div>