<div class="row px-2 py-1 align-items-center justify-content-between">
  <div class="col-3">
    <div class="row">
      <div class="col-auto px-0 ms-2" (click)="onCloseClick.emit()">
        <div class="window-btn close">
          <!-- <lucide-icon name="x"></lucide-icon> -->
        </div>
      </div>
      <div class="col-auto px-0 ms-2" (click)="onMinimizeClick.emit()">
        <div class="window-btn minimize">
          <!-- <lucide-icon name="minus"></lucide-icon> -->
        </div>
      </div>
      <ng-container *ngIf="isMaximized">
        <div class="col-auto px-0 ms-2" (click)="onRestoreClick.emit(); isMaximized = !isMaximized">
          <div class="window-btn expand">
            <!-- <lucide-icon name="maximize-2"></lucide-icon> -->
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isMaximized">
        <div class="col-auto px-0 ms-2" (click)="onMaximizeClick.emit(); isMaximized = !isMaximized">
          <div class="window-btn expand">
            <!-- <lucide-icon name="maximize-2"></lucide-icon> -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col title text-center">{{title}}</div>
  <div class="col-3"></div>
</div>