<div class="container-fluid profile">
  <div class="row">
    <div class="col-auto profile-img">
      <img src="assets/images/profile.jpg" alt="" srcset="">
    </div>
    <div class="col">
      <div class="row mt-3">
        <div class="col">
          <b class="me-1">Name:</b>Thiago Barros
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <b class="me-1">Birth:</b> May 19, 1994
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <b class="me-1">Job:</b> Web developer
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <b class="me-1">Location:</b> Campina Grande, PB, BR
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <b>Bio:</b>
    </div>
    <div class="col-12 mt-3">
      <p>Hi, my name is Thiago, and I'm a web systems developer with almost four years of experience. I love technology
        and aviation and enjoy exploring new ideas and solutions for challenging projects.</p>
      <p>I have experience with various technologies, including Angular, React, Node, NestJs, Laravel, MySQL, and
        Postgres. Throughout my career, I have worked on challenging projects that have allowed me to develop my skills
        and improve my programming techniques.</p>
      <p>Currently, I am working as a full-stack developer at a startup that is revolutionizing the technology market. I
        am always looking for new challenges and opportunities to grow professionally and learn new skills.</p>
      <p>When I'm not working, I enjoy spending my free time exploring new places, meeting interesting people, and
        keeping up with the latest news in the aviation industry.</p>
      <p>If you're looking for a reliable and experienced web developer for your next project, please don't hesitate to
        get in touch with me. Thank you for visiting my portfolio!</p>
    </div>
  </div>
</div>